<h1><%= @name%> Seja bem-vindo!, hoje <%= data_br(Date.today)%> é uma dia muito especial!</h1>
<h3><%= app_name%></h3>
<%= render 'menu'%>
<script>localStorage.setItem("company_id", "<%= 1 + 1%>")</script>
